// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 5px;
  padding: 10px;
}

.letter-style {
  background-color: #3498DC;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
}


.margin-around {
  margin: 10px;
}
